html{
    margin:0;
    box-sizing: border-box;
    height: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
*,*::before, *::after{
    box-sizing: inherit;
}

body{
    height: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color:#090909;
    text-decoration: none;
    user-select: none;

}
a{
    text-decoration: none;
    color:#090909;
    cursor: pointer;
}
a:active{
    opacity: 0.75;
}

input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 4px solid #4D2A6B;
    background-color: #F7F7F7;
    outline: none;
    -webkit-transition:transform 0.3s ease-out 0s;
    -moz-transition:transform 0.3s ease-out 0s;
    -o-transition:transform 0.3s ease-out 0s;
    -ms-transition:transform 0.3s ease-out 0s;
    transition: transform 0.3s ease-out 0s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
input:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
button{
    border-radius: 10px;
    background-color: #4D2A6B;
    color: #F7F7F7;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border: none;
    -webkit-transition:transform 0.3s ease 0s;
    -moz-transition:transform 0.3s ease 0s;
    -o-transition:transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    -ms-transition:transform 0.3s ease 0s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button:active{
    opacity: 0.75;
}
button:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.wrapper{
    display: flex;
    flex-direction: column;
}

/* Раздел для header */

header{
    position:fixed;
    width:100%;
    height: 58px;
    background-color: #4D2A6B;
    z-index: 88;
}
.wrapper_for_header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 58px;
	padding: 0 40px 0 33px;
    margin: 0 auto;
}
.vidion_logo svg{
    cursor: pointer;
    width: 112px;
    height: 31px;
}
.vidion_logo:active{
    opacity: 0.75;
}
.searching{
    position:relative;
    padding-top: 5px;
    margin: auto auto auto 31px;
}
.search_line{
    width:436px;
    height: 25px;
    border-radius: 10px;
    background-color: #F7F7F7;
    border: none;
    padding-left: 5.55px;
    padding-right: 36px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    outline:none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.search_line:hover{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.search{
    display: block;
    position:absolute;
    top: 5px;
    left: 405px;
}
.search:active{
    display: block;
    opacity: 0.75;
}
.navigation{
    padding-right: 0px;
}
.nav_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.nav_item{
    display: flex;
    margin-right: 47.09px;
    cursor: pointer;
    align-items: center;
}
.log{
    width: 26px;
    height: 29px;
}
.nav_item:first-child{
    display: none;
}
.nav_item:last-child{
    margin-right: 0px;
}
.nav_link:active{
    opacity: 0.75;
}
.wrapper_for_menu{
    display:flex;
    justify-content: flex-end;
}
.toggle{
    position:fixed;
    z-index: 87;
    display: none;
}
.menu{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    border: 2px solid #4D2A6B;
    background-color: #F7F7F7;
    padding-right: 20px;
    width: 259px;
    height: 110px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menu a{
    color: #4D2A6B;
    text-align: right;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom:17px;
    text-decoration: none;
}
.wrapper_for_search{
    display: flex;
    justify-content: center;
    padding-top: 7px;
}
.toggle_for_search{
    position: fixed;
    z-index: 80;
    display: none;
}
.special_search{
    border: 2px solid #4D2A6B;
    padding-left: 5px;
    padding-right: 5px;
    width: 500px;
    height: 35px;
    font-size: 17px;
}
.special_search:hover{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

/*Раздел main*/

main{
    width: 100%;
    min-height: calc(100vh - 100px);
}
.main{
    display:flex;
    flex-direction: row;
}
.personal_block{
    padding-top: 104px;
    padding-left: 24px;
    flex-direction: column;
}
.person_profile{
    width: 183px;
    height: 262px;
    border-radius: 10px;
    border: 3px solid #8B8B8B;
    font-family: 'Montserrat';
    font-weight: 600;
    padding-left: 8px;
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 8px;
}
.person_profile svg{
    margin-bottom: 14px;
}
.person_profile p{
    font-size: 16px;
    width: 100%;
}
.person_profile a{
    color: #8B8B8B;
    font-size: 10px;
    margin-top: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}
.buttons_block{
    position:relative;
    top: 28px;
    left: 5px;
    width: 172px;
    height: 98px;   
}
.links_on_pay{
    display: flex;
    flex-direction: column;
}
.buttons_block:last-child{
    top: 52px;
}
.white_rect{
    width: 90px;
    height: 17px;
    color: #8B8B8B;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position:absolute;
    z-index: 78;
    background-color: #fff;
    display: flex;
    padding-left: 4px;
    left: 44px;
}
.buttons_container{
    width: 172px;
    height: 90px;
    top: 8px;
    position: absolute;
    z-index: 77;
    border-radius: 10px;
    border: 3px solid #8B8B8B;
    display: flex;
    flex-direction: column;
}
.buttons{
    border-radius: 0;
    padding-left: 3px;
    width:166.8px;
    height: 20px;
    background-color: white;
    color:#090909;
    border: none;
    text-align: start;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    margin-top:11px;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    z-index: 5;
}
button:hover{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.buttons_container button:first-child{
    margin-top: 28px;
}
#activeNews{
    background-color:#4D2A6B; 
    color:#F7F7F7; 
}
.news{
    display: block;
    max-width: 1170px;
}
.news_wrapper{
    padding-top: 87px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    max-width: 1200px;
}
.new{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    width: 350.483px;
    height: 363px;
    border-radius: 10px;
    border: 2px solid  #4D2A6B;
    background: #F7F7F7;
    text-decoration: none;
    margin-bottom: 31px;
    margin-left: 39px;
}
.top_content{
    display: flex;
    flex-direction: column;
    padding-left: 6.74px;
    padding-top: 9px;
    margin-bottom: 0;
}
.top_content span{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.top_content img{
    width: 18.29px;
    height: 18.29px;
    margin-right: 6px;
}
.title{
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.nickname{
    font-family: 'Source Sans Pro';
    flex-direction: row;
    font-size: 13px;
    font-weight: 400;
}
.new a:active{
    opacity: 0.75;
}
.bottom_description{
    font-family: 'Source Sans Pro';
    height:83.769px;
    width: 100px;
}
.link_image{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 233.013px;
}
.bottom_mask{
    position:absolute;
    bottom: 0px;
    max-width: 350.483px;
    height:83.769px;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
}
.price_more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8.63px;
}
.price{
    color:#4D2A6B;
    font-size: 20px;
    font-weight: 700;
}
.description{
    font-size: 13px;
    font-weight: 400;
}
.more_button_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 18px;
    margin-left: 39px;
}
.more{
    width: 247.333px;
    height: 45px;
    border-radius: 10px;
    background-color: #4D2A6B;
    color: #F7F7F7;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
}
.more:active{
    opacity: 0.75;
}
.more:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.saled_news{
    display: none;
}
.applications{
    width: 100%;
    display: none;
}
.completed_applications{
    width: 100%;
    display: none;
}
.applications_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 98px;
}
.application_container{
    width: 669px;
    height: 171.108px;
    border-radius: 10px;
    border: 2px solid #4D2A6B;
    background-color: #F7F7F7; 
    margin-bottom: 40px;  
    padding-top: 10px;
    padding-left: 13.78px;
    padding-right: 13.78px;
    padding-bottom: 4.58px;
}
.application_container h1{
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
}
.application_container img{
    margin-right: 6px;
}
.application_container span{
    font-family: 'Source Sans Pro';
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 13.85px;
}
.options{
    display: flex;
    justify-content: space-between;
}
.application_container a:active{
    opacity: 0.75;
}

footer{
    width: 100%;
    height: 101px;
    background-color: #4D2A6B;
}
.footer_wrapper{
    margin: 0 auto;
}
.top_text{
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 25px;
    margin-bottom: 29px;
}
.text_link{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: none;
    color:#F7F7F7;
}
.text_link:active{
    opacity: 0.75;
}
.text_link:hover{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.bottom_text{
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom:19px;
}
  

