html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: 400;
    background-color: #f9fdff;
    margin: 0;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

main {
    flex: 1;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}


/* ШАПКА */
header {
    background-color: #4d2a6b;
    position:sticky;
    top: 0;
}

.page-header__wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_block {
    display: block;
    margin: auto auto auto 30px;
    padding-bottom: 5px;
}

.search_bar {
    border: 0;
    border-radius: 30px;
    width: 400px;
    height: 25px;
}
.search_bar::placeholder {
    padding-left: 20px;
}

.search_block svg {
    position: relative;
    right: 40px;
    top: 10px;
}

.page-header__item {
    margin-right: 20px;
}

/* MAIN */

.offer_price_notific {
    border: 2px solid #4d2a6b;
    border-radius: 10px;
    max-width: 750px;
    padding: 15px 20px;
    margin: 0 0 0 auto;
}

.offer_price_notific b {
    color: #4d2a6b;
}

.offer_price_notific h3 {
    margin-bottom: 20px;
}

.checkout-offer {
    text-align: right;
}

.checkout-btn {
    padding: 7px 15px;
    border: 0;
    background-color: #4d2a6b;
    border-radius: 10px;
    color: white;
    width: 150px;
}

h1 {
    text-align: center;
    font-weight: 600;
    padding: 30px 0 30px 0;
    font-size: 50px;
}

p {
    text-align: center;
    padding-bottom: 70px;
}

.return-to-main {
    text-align: center;
}

.return-btn {
    padding: 10px 15px;
    border: 0;
    background-color: #4d2a6b;
    border-radius: 10px;
    color: white;
    width: 200px;
}




.page-footer {
    background-color: #4d2a6b;
}

.page-footer_wrapper {
    height: 100px;
    position: relative;
}

.top-line, .bottom-line {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    height: 50px;

}

/* .top-line::after {
    content: "";
    position: absolute;
    top: 50px;
    width: 1903px;
    height: 1px;
    background-color: white;
} */



.top-line p, .bottom-line p {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    color: #f7f7f7;
    font-size: 15px;
    justify-content: center;
    align-self: center;
    font-weight: 400;
    line-height: 3;
    padding: 0;
}

