html{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
a:hover{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

/* Раздел header */

header{
    height: 56px;
}
.wrapper_for_header{
    padding: 0 20px;
}
.vidion_logo svg{
    width:91px;
    height: 25px;
}
.search_line{
    display:none;
}
.search{
    display:none;
}
.wrapper_for_search{
    padding-top: 0px;
}
.special_search{
    width: 300px;
    height: 25px;
    font-size: 13px;
}
.nav_item{
    margin-right: 5px;
}
.nav_item:first-child{
    margin-top:0px;  
}
.item_wrapper_lupa svg{
    width: 30px;
    height:30px;
    margin-right: 5px;
}
.like{
    width:25.52px;
    height:25.52px;
}
.alerts{
    width: 20.05px;
    height: 21px;
}
.profile{
    width:22px;
    height:22px;
}
.log{
    width: 20px;
    height: 22px;
}

/*Раздел main*/


.left_container a{
    font-size: 13px;
    margin-left: 39px
}
.left_container_wrapper{
    justify-content: center;
    flex-direction: row;
    margin-bottom: 28px;
    width: 100%
}
.big_avatar_circle{
    width: 104px;
    height: 104px;
}
.input_data{
    width: 308px;
    height: 37.648px;
    border: 2px solid #4D2A6B;
    font-size: 15px;
}
.hint{
    font-size: 13px;
}