@font-face{
    font-family: 'Source Sans pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSansPro-Regular.ttf') format('ttf');
}
@font-face{
    font-family: 'Source Sans pro';
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSansPro-Bold.ttf') format('ttf');
}
@font-face{
    font-family: 'Source Sans pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSansPro-SemiBold.ttf') format('ttf');
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/Montserrat-SemiBold.ttf') format('ttf');
}